<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="navbar-brand pl-3" href="/">
    <img src="/images/logo.png" width="40" height="40" alt="">
  </a>
 <h5 class="my-0 mr-md-auto font-weight-normal">
   <a href="/" class="navbar-link">UBank</a>
 </h5>
 <nav class="my-2 my-md-0 mr-md-3">
   <a class="p-2 text-dark" href="/accounts">Bank Accounts</a>
   <a class="p-2 text-dark" href="/login">Login</a>
   <% if(typeof user !== 'undefined') { %>
     <a class="p-2 text-dark" href="/logout">Logout</a>
   <% } %>
 </nav>
   <a href="/signup" class="btn btn-outline-success">
     Signup <i class="fas fa-plus"></i>
   </a>
</div>
